/target/
authorizationserver/log4j-application.log
.DS_Store
authorizationserver/src/main/resources/config.json
client/log4j-application.log
resourceserver/log4j-application.log
authorizationserver/src/main/resources/authorizationserver.json
client/src/main/resources/client.json
