{
	"server" : {
		"coapPort": 5683,
		"coapsPort" : 5684,
		"trustStoreLocation" : "../certs/trustStore.jks",
		"trustStorePassword" : "XXX",
		"keyStoreLocation" : "../certs/keyStore.jks",
		"keyStorePassword" : "XXX",
		"pskIdentity" : "XXX",
		"pskKey" : "XXX",
		"signAndEncryptKey" : null
	},
	"clients" : [
		{
			"clientId":"testclient1",
			"clientSecret" : "testpassword1"
		},
		{
			"clientId":"testclient2",
			"clientSecret" : "testpassword2"
		}
	],
	"resourceservers" : [
		{
			"aud":"testRS1",
			"tokenformat":"JWT",
			"csp" : "DLTS",
			"authorizedClients" : ["testclient1", "testclient2" ],
			"scopes" : "read write",
			"transportEncryption" : "dtls-psk",
			"serverKey": {"kty":"EC","kid":"8vrbt0mlhluirpjj2h5mjg4u4r","x":"HhcGZh3i6HrcE1r8ANQcO4ZxtHlvDyvRcL0bdT_31sE","y":"jd5-IH8W1nGX4k350WsSyn0bvvcAEDP3bvNYCRr8Rz8","crv":"P-256"}},
		{
			"aud":"testRS2",
			"tokenformat":"CWT",
			"csp" : "OBJECTSECURITY",
			"authorizedClients" : ["testclient1" ],
			"scopes" : "read",
			"transportEncryption" : "dtls-rpk",
			"serverKey": {"kty":"EC","kid":"8vrbt0mlhluirpjj2h5mjg4u4r","x":"HhcGZh3i6HrcE1r8ANQcO4ZxtHlvDyvRcL0bdT_31sE","y":"jd5-IH8W1nGX4k350WsSyn0bvvcAEDP3bvNYCRr8Rz8","crv":"P-256"}},
		}
	]
}
