{
	"server" : {
		"coapPort": 5683,
		"coapsPort" : 5684,
		"trustStoreLocation" : "../certs/trustStore.jks",
		"trustStorePassword" : "XXX",
		"keyStoreLocation" : "../certs/keyStore.jks",
		"keyStorePassword" : "XXX",
		"pskIdentity" : "XXX",
		"pskKey" : "XXX",
		"signAndEncryptKey" : null
	},
	"clients" : [
		{
			"clientId":"testclient1",
			"clientSecret" : "testpassword1",
			"keyEncryptionMethod": "ec",
			"encryptionKey": {"kty":"EC",....
		},
		{
			"clientId":"testclient2",
			"clientSecret" : "testpassword2",
			"keyEncryptionMethod": "ec",
			"encryptionKey": {"kty":"EC",....
		}
	],
	"resourceservers" : [
		{
			"aud":"testRS1",
			"tokenformat":"JWT",
			"csp" : "DLTS",
			"authorizedClients" : ["testclient1", "testclient2" ],
			"scopes" : "read write",
			"transportEncryption" : "dtls-psk",
			"serverKey": {"kty":"EC",...
		{
			"aud":"testRS2",
			"tokenformat":"CWT",
			"csp" : "OBJECTSECURITY",
			"authorizedClients" : ["testclient1" ],
			"scopes" : "read",
			"transportEncryption" : "dtls-rpk",
			"serverKey": {"kty":"EC",....
		}
	]
}
